<div class="al-article-list-wrapper">
  @for (article of $iptArticleList().articleList; track $index) {
  @let hasMedia = $iptArticleList().articleIdMapFile.get(article.id);

  <div class="cus-article__container al-pointer-cursor" (click)="viewArticleDetail(article.id)">
    <div class="al-article-content">
      <h2 class="al-article-title">{{ article.title }}</h2>
      <div class="al-article-meta">
        <span class="al-meta-item">
          <!-- FontAwesome icon could go here -->
          分類: {{ article.categories | categories }}
        </span>
        <span class="al-meta-item">
          <!-- FontAwesome icon could go here -->
          時間: {{ article.lastModifyTime ?? article.createdTime | date: 'yyyy-MM-dd HH:mm:ss' }}
        </span>
      </div>
      <p class="al-article-intro">{{ article.intro }}</p>
    </div>

    <div class="al-article-media-container">
      @if (hasMedia && hasMedia.length > 1) {
      <ngb-carousel [interval]="getCarouselInterval(article)" [showNavigationArrows]="false" [animation]="true"
        [showNavigationIndicators]="isCarouselEnabled(article)" [pauseOnHover]="true" [wrap]="true">
        @for (file of hasMedia; track file.id) {
        <ng-template ngbSlide [id]="'slide-' + article.id + '-' + file.id">
          @if (isImage(file.fileType)) {
          <div class="cus-carousel-slide">
            <img class="cus-article-media" [src]="file.fileUrl" alt="" />
          </div>
          }
          @if (isVideo(file.fileType)) {
          <div class="cus-carousel-slide w-100">
            <video class="cus-article-media" (click)="$event.stopPropagation()" [src]="file.fileUrl" controls></video>
          </div>
          }
        </ng-template>
        }
      </ngb-carousel>
      } @else if (hasMedia && hasMedia.length === 1) {
      @let articleFile = hasMedia[0];
      @if (isImage(articleFile.fileType)) {
      <img class="cus-article-media" [src]="articleFile.fileUrl" alt="" />
      }
      @if (isVideo(articleFile.fileType)) {
      <div class="w-100">
        <video class="cus-article-media" (click)="$event.stopPropagation()" [src]="articleFile.fileUrl"
          controls></video>
      </div>
      }
      } @else {
      <img class="cus-article-media" [src]="'https://picsum.photos/seed/' + article.id + '/400/300'" alt="Default Random Image" />
      }
    </div>
  </div>
  }
</div>