@for (article of $iptArticleList().articleList; track $index) {
  <div class="cus-article__container text-break al-pointer-cursor" (click)="viewArticleDetail(article.id)">
    <div>
      <h2 class="text-center">{{ article.title }}</h2>
      <div class="text-center">
        <span class="me-2">分類: {{ article.categories | categories }}</span>
        <span>時間: {{ article.lastModifyTime ?? article.createdTime | date: 'YYYY-MM-dd HH:mm:ss' }}</span>
      </div>
    </div>
    <p class="mt-2">{{ article.intro }}</p>
  </div>
}
