@use 'sass:map';
@use 'shared' as *;

.cus-article__container {
  width: 80%;
  border-radius: 5px;
  padding: 24px;
  transition: 0.3s ease-in-out;

  @include media-breakpoint-up(md) {
    padding: 48px;
    display: flex;
    gap: map.get($spacers, 5);
    align-items: center;
    justify-content: center;

    > div {
      flex: 1;
      min-width: 0;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  // Apply margin-top to all elements except the first one
  &:not(:first-child) {
    margin-top: 24px;
  }

  &:hover {
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f1f1f1;
  }

  // border-right even elements
  &:nth-child(even) {
    border-right: 10px solid $primary;
  }

  // border-left odd elements
  &:nth-child(odd) {
    border-left: 10px solid $primary;
  }

  .cus-article-media {
    height: 300px;
    width: 100%;
    object-fit: contain;

    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }

  .cus-carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }

  ngb-carousel {
    display: block;
    width: 100%;

    .carousel-inner {
      border-radius: 4px;
      overflow: hidden;
      height: 300px;

      @include media-breakpoint-up(md) {
        height: 400px;
      }
    }

    .carousel-item {
      height: 100%;
      width: 100%;
    }
  }
}
