<div class="h-100 d-flex flex-column justify-content-center align-items-center">
  <h1>更改密碼</h1>
  <p class="mt-2">
    請輸入新的 <span class="cus-bg-highlight">{{ $$resetUserEmail() }}</span> 的密碼
  </p>
  <div class="mt-3">
    <label class="me-3 cus-w-50px" for="pwd">新的密碼</label>
    <input type="password" id="pwd" [formControl]="passwordControl" placeholder="請輸入新密碼" />
  </div>
  <div class="mt-3">
    <label class="me-3 cus-w-50px" for="confirm-pwd">確認密碼</label>
    <input type="password" id="confirm-pwd" [formControl]="confirmPasswordControl" placeholder="再次輸入新密碼" />
  </div>
  <button class="mt-3 al-btn-sm" (click)="confirmResetPassword()">確認</button>
</div>
