@use 'sass:map';
@use 'shared' as shared;

.cus-default-layout-container {
  margin: auto;
  max-width: map.get(shared.$grid-breakpoints, xxl);

  @include shared.media-breakpoint-up(md) {
    display: flex;
  }

  .cus-side-nav-container {
    @include shared.media-breakpoint-up(md) {
      width: 300px;
    }
  }
}
