<h1>home works!</h1>
<h2>我是h2測試文字</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquid dicta quaerat voluptas architecto eius accusamus! Provident
  quae ut, accusantium quis vel, sint voluptatum nostrum, sit fugiat tenetur temporibus similique. Iusto alias commodi quaerat eveniet quam
  ex, fugit reiciendis consequuntur voluptates voluptate in esse delectus consectetur sed corrupti quis pariatur nemo dicta molestias est
  magnam laboriosam error! Recusandae, quis repellendus. Dolore harum ex nostrum cum, nam repellat non. Assumenda omnis at minima saepe
  recusandae impedit odio vel autem, officia voluptate qui nesciunt sit dolorem totam et neque quasi. Aspernatur, eos! Pariatur, eligendi
  ullam repudiandae vel magnam reprehenderit placeat vitae quia obcaecati ducimus animi similique explicabo sapiente quos ratione doloribus
  eos voluptates repellendus dolore eveniet voluptatum expedita. Animi tempore debitis commodi! Esse iusto modi quis fuga aspernatur
  exercitationem. Aliquid, eum nostrum hic id nihil quaerat? Accusamus provident dolorem sit suscipit praesentium consectetur sequi saepe,
  eligendi consequatur amet dolores quasi veritatis dolorum. Nesciunt animi vero eius minima, natus dolorum eveniet? Rem autem, excepturi
  quam, repudiandae cumque doloremque modi cupiditate velit illo inventore quidem recusandae obcaecati ullam voluptas nulla, nemo unde amet
  corrupti? Sunt aut porro fugit natus, voluptatem repellat doloremque. Accusantium inventore dolores quasi culpa. Quibusdam corporis
  accusamus fuga laboriosam consectetur, ad itaque assumenda est voluptate, consequatur cumque? Voluptas voluptatem rem ducimus! Perferendis
  doloribus tempora, ipsa animi ea accusamus, ducimus voluptate aliquid nesciunt quaerat vel laboriosam quisquam reprehenderit est iusto!
  Accusantium molestias qui quis mollitia voluptatibus dicta deserunt veniam ut officia quae. Ut neque nulla explicabo recusandae itaque.
  Non amet aperiam provident accusantium fuga harum quod temporibus ullam fugit tempora est, asperiores animi quis sint magnam alias
  quibusdam expedita repudiandae. Voluptatibus, qui? Maxime, quibusdam in expedita blanditiis fugit vel impedit atque et error odit
  molestiae dolorem voluptate reprehenderit optio libero nulla laborum saepe deleniti. Amet aliquid provident numquam officia iste!
  Quibusdam, blanditiis! Consectetur reprehenderit saepe dolores, numquam sit sunt rem, repellendus iure doloribus, inventore corporis ad
  molestiae fugiat repellat illum voluptatem eveniet. Natus, hic eaque fugiat labore perspiciatis ullam vero aspernatur voluptatum!
  Temporibus quis consequatur alias rem, rerum commodi velit. Aliquam, laborum aut. Eveniet officia doloremque iusto quidem laborum
  distinctio animi! Quasi eveniet dolorem architecto pariatur nobis et, officia animi sapiente minima! Dicta, dolores, at, nesciunt iste
  velit distinctio eius sit culpa possimus voluptate modi corrupti eum deleniti eaque odio eos! Harum fuga sint nostrum pariatur corrupti
  cumque rem, ducimus accusamus iusto. Laborum facilis, aliquam reiciendis magni voluptates voluptatibus quidem ut aspernatur ex earum quae
  in. Odio adipisci ducimus totam nobis quas maiores aspernatur sunt sed iure ea, voluptatibus quae error neque! Eius consectetur, labore
  temporibus doloribus provident magnam, fugit reiciendis quae obcaecati ipsam dignissimos ipsa inventore eos natus dolorem enim assumenda?
  Perspiciatis, sed officia aspernatur quibusdam fugiat vero veritatis illum molestias. Ipsa libero unde quae, quis, sapiente nam ab cum
  vitae beatae facere accusantium quibusdam nobis velit voluptatibus est cupiditate fugit, ducimus ratione adipisci exercitationem
  consequatur. Reiciendis assumenda perferendis quam id. Voluptatum quos numquam nesciunt perferendis magnam vero excepturi soluta quo,
  facilis aperiam sit incidunt vitae repellat, quas porro illo quaerat nobis eum provident repudiandae in ratione deleniti ipsa quis. Ad?
  Voluptate maxime consectetur libero minus quaerat nulla fugit dicta sequi, eaque incidunt eum modi, aliquid debitis eveniet deleniti
  perspiciatis totam optio error culpa ipsa expedita beatae saepe! A, expedita quo! Ducimus recusandae laudantium sed aspernatur veritatis
  delectus rem doloribus! Nesciunt ipsa reiciendis iusto cupiditate beatae odio necessitatibus minus delectus, ratione enim amet neque odit,
  animi recusandae natus. Consequatur, alias deserunt! Suscipit, nulla cumque quibusdam minima molestias perspiciatis? Adipisci doloremque
  consequuntur ducimus. Natus impedit ea possimus earum iure omnis, unde tenetur. Adipisci iusto soluta dicta voluptas laudantium veniam?
  Eaque, sed cum.
</p>
<div jhiTranslate="global.title"></div>
@if (editor && config) {
  <ckeditor ngSkipHydration [editor]="editor" [config]="config" data="<p>Hello, world!</p>"></ckeditor>
}
