<h2 mat-dialog-title>選擇文章類型</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>文章類型</mat-label>
    <mat-select [formControl]="selectCategoryControl" multiple>
      @for (category of $$articleCategories(); track category) {
        <mat-option [value]="category">{{ category.categoryName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog(null)">關閉</button>
  <button mat-button (click)="saveCategories()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
