<div class="cus-view-article-container text-break">
  <h1 class="cus-article-title al-break-all">{{ $$articleDetails().title }}</h1>
  <div class="mt-3 ps-3 cus-article-category">
    <span class="me-3">分類: {{ $$articleDetails().categories | categories }}</span>
    <span>時間: {{ $articleCreateTime() | date: 'YYYY-MM-dd hh:mm' }}</span>
  </div>
  <p class="mt-6 ps-3 cus-article-intro">{{ $$articleDetails().intro }}</p>
  <div #contentContainer class="mt-6 ck ck-content cus-article-content" [innerHTML]="$articleContent()"></div>
  <div class="mt-6 mx-auto cus-divider"></div>
  <app-article-response
    [inputArticleListInfo]="{ articleDetails: $$articleDetails(), articleResponses: $$articleResponses() }"
    (outputAddResponse)="addResponse($event)"
  ></app-article-response>
</div>
