@use 'shared' as shared;

@mixin al-btn-base {
  background-color: shared.$darker-primary;
  color: #fff;
  border: 1px solid shared.$darker-primary;
  border-radius: 8px;
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: shared.$primary;
    border-color: shared.$primary;
  }
}

.al-btn-sm {
  @include al-btn-base;
}
