<nav class="al-outline-nav">
  @if ($articleOutline() && $articleOutline().length > 0) {
    <h6 class="al-outline-title"><i class="bi bi-list-nested"></i> 文章目錄</h6>
    <ul class="al-outline-list">
      @for (item of $articleOutline(); track $index) {
        <li
          class="al-outline-item al-pointer-cursor"
          [class.active]="item.id === $activeHeaderId()"
          [class.al-outline-level-1]="item.level === 1"
          [class.al-outline-level-2]="item.level === 2"
          (click)="goToTitle(item.id)"
        >
          <a class="al-outline-link" [title]="item.title">{{ item.title }}</a>
        </li>
      }
    </ul>
  }
</nav>
