@use 'sass:map';
@use 'shared' as shared;

.cus-user-response-container {
  padding: map.get(shared.$spacers, 3);

  .cus-user-response__input {
    width: 100%;
    max-width: 300px;
    height: 100px;
    margin: 0 auto;

    @include shared.media-breakpoint-up(md) {
      max-width: 500px;
      height: 200px;
    }
  }

  .cus-user-response__item {
    padding: map.get(shared.$spacers, 3);
    margin-top: map.get(shared.$spacers, 3);

    .cus-user-info {
      padding-bottom: 4px;
      border-bottom: 5px solid #d3d3d3;
      width: fit-content;
    }

    .cus-badge {
      background-color: shared.$secondary;
      color: #d3d3d3;
      border-radius: 8px;
    }
  }
}
