@import 'shared';

$lh-xs: 1.5rem;
$fs-xs: 1.25rem;
$lh-m: 1.85rem;
$fs-m: 1.5rem;

h3 {
  @include media-breakpoint-down(sm) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include media-breakpoint-between(sm, md) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include media-breakpoint-between(md, lg) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include media-breakpoint-between(lg, xl) {
    line-height: $lh-m;
    font-size: $fs-m;
  }

  @include media-breakpoint-up(xl) {
    line-height: $lh-m;
    font-size: $fs-m;
  }
}
