@use 'shared' as shared;
$lh-xs: 1.8rem;
$fs-xs: 1.3rem;
$lh-m: 2rem;
$fs-m: 1.25rem;

li {
  @include shared.media-breakpoint-down(sm) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include shared.media-breakpoint-between(sm, md) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include shared.media-breakpoint-between(md, lg) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include shared.media-breakpoint-between(lg, xl) {
    line-height: $lh-m;
    font-size: $fs-m;
  }

  @include shared.media-breakpoint-up(xl) {
    line-height: $lh-m;
    font-size: $fs-m;
  }
}
