$lh-xs: 1.75rem;
$fs-xs: 1.125rem;
$lh-m: 2rem;
$fs-m: 1.25rem;

p {
  @include media-breakpoint-down(sm) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include media-breakpoint-between(sm, md) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include media-breakpoint-between(md, lg) {
    line-height: $lh-xs;
    font-size: $fs-xs;
  }

  @include media-breakpoint-between(lg, xl) {
    line-height: $lh-m;
    font-size: $fs-m;
  }

  @include media-breakpoint-up(xl) {
    line-height: $lh-m;
    font-size: $fs-m;
  }
}
