<div class="al-sidebar-wrapper p-4">
  <div (click)="goBackHome()" class="al-pointer-cursor al-logo-container">
    <app-logo></app-logo>
  </div>
  <div class="al-sidebar-subtitle mt-3 text-center">
    歡迎來到Josh的文章彙整網站 <span class="icon">🔗</span>
  </div>
  <div class="al-sidebar-tags mt-3 d-flex justify-content-center gap-2">
    <span class="al-tag"><i class="bi bi-code-slash"></i> 技術</span>
    <span class="al-tag"><i class="bi bi-journal-text"></i> 經驗</span>
    <span class="al-tag"><i class="bi bi-emoji-smile"></i> 有趣</span>
  </div>
  <div class="mt-4 mt-md-5">
    <app-profile></app-profile>
  </div>
  @if ($isHomePage()) {
    <div class="mt-4">
      <app-article-filter></app-article-filter>
    </div>
  }
  <div class="d-none d-md-block mt-4 mt-md-5">
    <app-article-outline></app-article-outline>
  </div>
</div>
